body {
  width: 960px;
  margin: 0 auto;
}

td form {
  display: inline;
}

input {
  margin-right: 15px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 6px;
}

tr {
  border-bottom: 1px solid black;
}

.errors,
.overdue {
  color: red;
}


.completed td {
  text-decoration-line: line-through;
}
